doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      meta(name='description', content='Radix is a base theme for Drupal and BackdropCMS built on top of Bootstrap 4. It has Sass, ES6, Browsersync and Font Awesome built in.')
      meta(name='keywords', content='Drupal, Boostrap 4, Fontawesome, base theme, responsive')

      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:600|Oxygen')
      link(rel='stylesheet', href=contents.css['main.css'].url)
  body(class=bodyclass)
    header.header
      div.content-wrap
        block header
          div.logo
            h1
              a(href=locals.url)= locals.name
            p.description= locals.description
            ul.logos
              li(class='drupal')
                img(src='/images/drupal.svg', title='Drupal')
                span Drupal
              li(class='bootstrap')
                img(src='/images/bootstrap.svg', title='Bootstrap')
                span Bootstrap
              li(class='fontawesome')
                img(src='/images/fontawesome.svg', title='Fontawesome')
                span Fontawesome
              li(class='browsersync')
                img(src='/images/browsersync.svg', title='BrowserSync')
                span BrowserSync
            a(href='https://drupal.org/project/radix', class='button') Download
    div#content
      div.content-wrap
        block content
          h2 Welcome to Radix!
    footer
      div.content-wrap
        block footer
          section.about
            div.links
              ul
                li
                  a(href='http://drupal.org/project/radix') Project
                li
                  a(href='http://docs.radixtheme.org') Documentation
                li
                  a(href='https://www.drupal.org/project/issues/radix') Support
                li
                  a(href='http://twitter.com/radixtheme') Twitter
          section.copy
            p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; Responsive base theme for #[a(href='https://drupal.org') Drupal] and #[a(href='https://backdropcms.org') BackdropCMS]
              //- please leave the "powered by" if you use the design
    script.
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                  (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-58924536-3', 'radixtheme.org');
      ga('send', 'pageview');
